.xtx-pay-checkout-page {
  margin-top: 20px;
  background-color: #f5f5f5;
  padding-bottom: 50px;
}

.xtx-pay-checkout-page .container {
  width: 1200px;
  margin: 0 auto;
}

.xtx-pay-checkout-page .wrapper {
  background: #fff;
  padding: 0 20px;
  text-align: left;
}

.xtx-pay-checkout-page .box-title {
  font-size: 16px;
  font-weight: normal;
  padding-left: 10px;
  line-height: 70px;
  border-bottom: 1px solid #f5f5f5;
}

.xtx-pay-checkout-page .box-body {
  padding: 20px 0;
}

.address {
  border: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
}

.address .text {
  flex: 1;
  min-height: 90px;
  display: flex;
  align-items: center;
}

.address .text .none {
  line-height: 90px;
  color: #999;
  text-align: center;
  width: 100%;
}

.address .text > ul {
  flex: 1;
  padding: 20px;
  list-style: none;
  margin: 0;
}

.address .text > ul li {
  line-height: 30px;
}

.address .text > ul li span {
  color: #999;
  margin-right: 5px;
}

.address .text > ul li span > i {
  width: 0.5em;
  display: inline-block;
}

.address .action {
  width: 420px;
  text-align: center;
}

.address .action .ant-btn {
  width: 140px;
  height: 46px;
  line-height: 44px;
  font-size: 14px;
  margin-right: 10px;
}

.goods {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.goods .info {
  display: flex;
  text-align: left;
  text-decoration: none;
  color: #333;
}

.goods .info img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.goods .info .right {
  line-height: 24px;
}

.goods .info .right p:last-child {
  color: #999;
}

.goods thead tr th {
  background: #f5f5f5;
  font-weight: normal;
  text-align: center;
  padding: 16px 8px;
  border-bottom: 1px solid #f5f5f5;
}

.goods tbody tr td {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #f5f5f5;
}

.my-btn {
  width: 228px;
  height: 50px;
  border: 1px solid #e4e4e4;
  text-align: center;
  line-height: 48px;
  margin-right: 25px;
  color: #666666;
  display: inline-block;
  text-decoration: none;
}

.my-btn.active,
.my-btn:hover {
  border-color: #27ae60;
  color: #27ae60;
}

.total {
  dl {
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    margin: 0;
  }
  
  dl dt {
    margin-right: 10px;
  }
  
  dl dt i {
    display: inline-block;
    width: 2em;
  }
  
  dl dd {
    width: 240px;
    text-align: right;
    padding-right: 70px;
    margin: 0;
  }
  
  dl dd.price {
    font-size: 20px;
    color: #e53e3e;
  }
}

.submit {
  text-align: right;
  padding: 60px;
  border-top: 1px solid #f5f5f5;
}

.submit .ant-btn {
  width: 220px;
  height: 50px;
  font-size: 16px;
}

.addressWrapper {
  max-height: 500px;
  overflow-y: auto;
}

.text.item {
  border: 1px solid #f5f5f5;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
}

.text.item.active,
.text.item:hover {
  border-color: #27ae60;
  background: #f0fdf4;
}

.text.item > ul {
  padding: 10px;
  font-size: 14px;
  line-height: 30px;
}
