.order-container {
  padding: 10px 20px;
}

.order-container .pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.order-container .main-container {
  min-height: 500px;
}

.order-container .main-container .holder-container {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-item {
  margin-bottom: 20px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
}

.order-item .head {
  height: 50px;
  line-height: 50px;
  background: #f5f5f5;
  padding: 0 20px;
  overflow: hidden;
}

.order-item .head span {
  margin-right: 20px;
  font-size: 14px;
}

.order-item .head span.down-time {
  margin-right: 0;
  float: right;
  color: #f5222d;
}

.order-item .head span.down-time i {
  vertical-align: middle;
  margin-right: 3px;
}

.order-item .head span.down-time b {
  vertical-align: middle;
  font-weight: normal;
}

.order-item .body {
  display: flex;
  align-items: stretch;
}

.order-item .body .column {
  border-left: 1px solid #f5f5f5;
  text-align: center;
  padding: 20px;
}

.order-item .body .column > p {
  padding-top: 10px;
  margin: 0;
}

.order-item .body .column:first-child {
  border-left: none;
}

.order-item .body .column.goods {
  flex: 1;
  padding: 0;
  align-self: center;
}

.order-item .body .column.goods ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-item .body .column.goods ul li {
  border-bottom: 1px solid #f5f5f5;
  padding: 10px;
  display: flex;
  align-items: center;
}

.order-item .body .column.goods ul li:last-child {
  border-bottom: none;
}

.order-item .body .column.goods ul li .image {
  width: 70px;
  height: 70px;
  border: 1px solid #f5f5f5;
  display: inline-block;
}

.order-item .body .column.goods ul li .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-item .body .column.goods ul li .info {
  width: 220px;
  text-align: left;
  padding: 0 10px;
}

.order-item .body .column.goods ul li .info p {
  margin-bottom: 5px;
  margin-top: 0;
}

.order-item .body .column.goods ul li .info p.name {
  height: 38px;
}

.order-item .body .column.goods ul li .info p.attr {
  color: #999;
  font-size: 12px;
}

.order-item .body .column.goods ul li .info p.attr span {
  margin-right: 5px;
}

.order-item .body .column.goods ul li .price {
  width: 100px;
  color: #f5222d;
}

.order-item .body .column.goods ul li .count {
  width: 80px;
}

.order-item .body .column.state {
  width: 120px;
}

.order-item .body .column.state .green {
  color: #52c41a;
}

.order-item .body .column.amount {
  width: 200px;
}

.order-item .body .column.amount .red {
  color: #f5222d;
  font-weight: bold;
}

.order-item .body .column.action {
  width: 140px;
}

.order-item .body .column.action a {
  display: block;
  margin-bottom: 10px;
  color: #1890ff;
  text-decoration: none;
}

.order-item .body .column.action a:hover {
  color: #40a9ff;
  text-decoration: underline;
}

.ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
