.goods-image {
  width: 480px;
  height: 400px;
  position: relative;
  display: flex;
}

.goods-image .middle {
  width: 400px;
  height: 400px;
  background: #f5f5f5;
  position: relative;
}

.goods-image .middle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.goods-image .large {
  position: absolute;
  top: 0;
  left: 412px;
  width: 400px;
  height: 400px;
  z-index: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  /* 背景图:盒子的大小 = 2:1 将来控制背景图的移动来实现放大的效果查看 background-position */
  background-size: 800px 800px;
  background-color: #f8f8f8;
}

.goods-image .layer {
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.2);
  /* 绝对定位 然后跟随咱们鼠标控制left和top属性就可以让滑块移动起来 */
  left: 0;
  top: 0;
  position: absolute;
  pointer-events: none;
}

.goods-image .small {
  width: 80px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.goods-image .small li {
  width: 68px;
  height: 68px;
  margin-left: 12px;
  margin-bottom: 15px;
  cursor: pointer;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.goods-image .small li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.goods-image .small li:hover,
.goods-image .small li.active {
  border-color: #ff4d4f; /* 使用了一个类似Vue版本中的强调色 */
}
