.xtx-cart-page {
  margin-top: 20px;
}

.xtx-cart-page .cart {
  background: #fff;
  color: #666;
}

.xtx-cart-page table {
  border-spacing: 0;
  border-collapse: collapse;
  line-height: 24px;
  width: 1240px;
}

.xtx-cart-page th,
.xtx-cart-page td {
  padding: 10px;
  border-bottom: 1px solid #f5f5f5;
}

.xtx-cart-page th:first-child,
.xtx-cart-page td:first-child {
  text-align: left;
  padding-left: 30px;
  color: #999;
}

.xtx-cart-page th {
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
}

.xtx-cart-page .cart-none {
  text-align: center;
  padding: 120px 0;
  background: #fff;
}

.xtx-cart-page .cart-none p {
  color: #999;
  padding: 20px 0;
}

.xtx-cart-page .tc {
  text-align: center;
}

.xtx-cart-page .tc a {
  color: #27ae60; /* 假设$xtxColor是这个值 */
}

.xtx-cart-page .tc .xtx-numbox {
  margin: 0 auto;
  width: 120px;
}

.xtx-cart-page .red {
  color: #e53e3e; /* 假设$priceColor是这个值 */
}

.xtx-cart-page .green {
  color: #27ae60;
}

.xtx-cart-page .f16 {
  font-size: 16px;
}

.xtx-cart-page .goods {
  display: flex;
  align-items: center;
}

.xtx-cart-page .goods img {
  width: 100px;
  height: 100px;
}

.xtx-cart-page .goods > div {
  width: 280px;
  font-size: 16px;
  padding-left: 10px;
}

.xtx-cart-page .goods .attr {
  font-size: 14px;
  color: #999;
}

.xtx-cart-page .action {
  display: flex;
  background: #fff;
  margin-top: 20px;
  height: 80px;
  align-items: center;
  font-size: 16px;
  justify-content: space-between;
  padding: 0 30px;
}

.xtx-cart-page .action .xtx-checkbox {
  color: #999;
}

.xtx-cart-page .action .batch a {
  margin-left: 20px;
}

.xtx-cart-page .action .red {
  font-size: 18px;
  margin-right: 20px;
  font-weight: bold;
}

.xtx-cart-page .tit {
  color: #666;
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
}

.m-top-20 {
  margin-top: 20px !important;
  background: #fff;
}
