$priceColor: #ff4d4f; 
.goods-list {
  display: flex;
  justify-content: space-between;
  height: 406px;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    width: 306px;
    height: 406px;
    background: #daf5e5;
    transition: all .5s;
    text-decoration: none;

    &:hover {
      transform: translate3d(0, -3px, 0);
      box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
    }

    a {
      text-decoration: none;
      color: inherit;
      display: block;
      height: 100%;
    }

    img {
      width: 306px;
      height: 306px;
      object-fit: cover;
    }

    p {
      font-size: 22px;
      padding-top: 12px;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
    }

    .price {
      color: $priceColor;
    }
  }
}
